body {
  background: white;
  display: inline-block;
}
p {
  font-weight: bold;
}

.container {
  display: flex;
  background-color: bisque;
  height: 20em; /* vh vw em rem */
  align-items: center;
}
